extends ../partials/_layout

block content
  div.fade-in
    h1 Contact me
    p You can email me at
      a(href='mailto:deverstalmage@gmail.com', alt='email me at deverstalmage@gmail.com') #[img(src='images/mail.png', class='icon')]
      a(href='mailto:deverstalmage@gmail.com', alt='email me at deverstalmage@gmail.com') deverstalmage@gmail.com

    p You can also find me on:
    ul
      li
        a(href='https://bitbucket.org/devers', alt='Devers Talmage on Bitbucket') Bitbucket
      li
        a(href='https://github.com/deverstalmage', alt='Devers Talmage on GitHub') #[img(src='images/github.png', class='icon')]
        a(href='https://github.com/deverstalmage', alt='Devers Talmage on GitHub') GitHub
      li
        a(href='http://instagram.com/devers', alt='Devers on Instagram') #[img(src='images/instagram.png', class='icon')]
        a(href='http://instagram.com/devers', alt='Devers on Instagram') Instagram
      li
        a(href='https://www.linkedin.com/pub/devers-talmage/5b/189/3a9', alt='Devers Talmage on LinkedIn') #[img(src='images/linkedin.png', class='icon')]
        a(href='https://www.linkedin.com/pub/devers-talmage/5b/189/3a9', alt='Devers Talmage on LinkedIn') LinkedIn
      li
        a(href='https://twitter.com/deverstalmage', alt='Devers Talmage on Twitter') #[img(src='images/twitter.png', class='icon')]
        a(href='https://twitter.com/deverstalmage', alt='Devers Talmage on Twitter') Twitter
