extends ../partials/_layout

block content
  h1 Contact me
  p You can email me at 
    a(href='mailto:deverstalmage@gmail.com', alt='email me at deverstalmage@gmail.com') #[img(src='images/mail.png', class='icon')]
    a(href='mailto:deverstalmage@gmail.com', alt='email me at deverstalmage@gmail.com') deverstalmage@gmail.com