head
  title= title
  link(href='styles/app.css', rel='stylesheet', type='text/css')
  link(href='//fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', href='images/favicon.png')