- if(!angularTpl)
  doctype html
  html(lang='en', ng-app='deve.rs')
    include _header
    body(class=slug)
      include _social
      main
        include _nav
        section.content(devers-view)
          block content
        .clear
      include _scripts
- else
  block content
