nav
  ul
    li
      a(class=slug == 'home' ? 'active' : undefined, href='/', devers-nav-item) home
    li
      a(class=slug == 'skills' ? 'active' : undefined, href='/skills', devers-nav-item) skills
    li
      a(class=slug == 'projects' ? 'active' : undefined, href='/projects', devers-nav-item) projects
    li
      a(class=slug == 'contact' ? 'active' : undefined, href='/contact', devers-nav-item) contact
    li
      a(href='/blog') blog