ul.social
  li
    a(href='mailto:deverstalmage@gmail.com')
      img(src='images/mail.png', alt='email')
  li
    a(href='https://github.com/deverstalmage')
      img(src='images/github.png', alt='github')
  li
    a(href='http://instagram.com/devers')
      img(src='images/instagram.png', alt='instagram')
  li
    a(href='https://www.linkedin.com/pub/devers-talmage/5b/189/3a9')
      img(src='images/linkedin.png', alt='linkedin')
  li
    a(href='https://twitter.com/deverstalmage')
      img(src='images/twitter.png', alt='twitter')