* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {

  background: {
    image: url(../images/bg2.jpg);
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
    size: cover;
    color: #333;
  }

  color: #fff;
}

.clear {
  clear: both;
}

img.icon {
  vertical-align: middle;
  margin: 0 2px;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 1rem;
  right: 1rem;

  @media #{$small-size} {
    position: static;
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0.25rem;
  }

  a {
    img {
      transition: transform 0.1s ease-in-out;
    }
  }

  a:hover {
    img {
      transform: scale(1.25);
    }
  }
}

main {
  margin: 0 auto 10em auto;
  position: relative;
  top: 25%;

  @media #{$small-size} {
    position: static;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
  }
}



.content {
  width: 50%;
  float: left;
  padding: 0 0 0 3rem;

  @media #{$medium-size} {
    width: 60%;
  }

  @media #{$small-size} {
    padding: 0 0 3em 0;
    float: none;
    width: 100%;
  }
}

ul {
  list-style-position: outside;
}


hr {
  margin: 4em 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}