extends ../partials/_layout

block content
  h1 Skills
  ul
    li
      h3 JavaScript (especially #[a(href='https://angularjs.org/', target='_blank') Angular.JS] &amp; #[a(href='http://nodejs.org/', target='_blank') Node.js])
    li
      h3 HTML 5
    li
      h3 CSS &amp; 
        a(href='http://sass-lang.com/', target='_blank') Sass
    li
      h3 PHP
    li
      h3 
        a(href='https://wordpress.org/', target='_blank') WordPress
    li
      h3 
        a(href='http://actionkit.com/', target='_blank') ActionKit platform