extends ../partials/_layout

block content
  h1 Expertise
  ul
    li Web Applications
      ul
        li Client-side & single page applications
        li Back-end applications, RESTful APIs
        li Hybrid back and front-end rendered applications &mdash; #[a(href='https://blog.twitter.com/2012/improving-performance-on-twittercom')  more info]
    li Practical web strategy & online architecture know-how
      ul
        li Developed a modern, performant online platform - including all web sites & web applications - for one of the largest online presences in the money in politics movement https://represent.us/ 
    li Database design and implementation
      ul
        li Relational databases (SQL)
        li Nosql, document store & key-value stores
    li Scalable backend architecture implementation using
      ul
        li AWS, Ubuntu, Nginx, Apache, Varnish
    li API integration, REST and otherwise
    li CMS customization extension, especially WordPress
  h1 Technical Skills
  ul
    li JavaScript, AngularJS, jQuery, Node.js
      ul
        li REST APIs & node apps that run web services
        li Bulletin.Rerpresent.Us
    li PHP including lots of work customizing and extending WordPress
      ul
        li REST APIs
        li Represent.Us
        li Bulletin.Represent.Us
        li ActionPress
    li HTML5
      ul
        li All websites… Some nice stuff on Bulletin
    li CSS & SCSS
      ul
        li All sites use a lot of css… 
        li Server software Apache, Nginx, Varnish
        li Amazon Web Services
              