extends ../partials/_layout

block content
  h1 Projects
  p Below are highlights from a handful of the projects I have worked on in my career
  
  h2 The Bulletin
    a(href='http://bulletin.represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[em Description:] #[a(href='http://bulletin.represent.us/', target='_blank') The Bulletin] is a news blog run by #[a(href='https://represent.us/') Represent.Us]. The site is a single page application powered by #[a(href='https://angularjs.org/', target='_blank') AngularJS] and #[a(href='https://wordpress.org/', target='_blank') WordPress], in conjunction with a #[a(href='https://wordpress.org/plugins/json-api/', target='_blank') JSON API plugin]. Initial page data (in the form of inline JSON) is rendered by the server, and loads subsequent data via AJAX requests from the bootstrapped JavaScript application. This combination gives fast page load times while not sacrificing the responsiveness of a client-side app. The sites architecture was inspired by #[a(href='http://qz.com/', target='_blank') qz.com] and #[a(href='https://blog.twitter.com/2012/improving-performance-on-twittercom', target='_blank') Twitter&rsquo;s 2012 optimizations].
  p #[em My involvement:] I completely built both the bootstrapped AngularJS app, as well as the underlying WordPress theme.
  p #[em Skills used:]
  ul
    li JavaScript &mdash; AngularJS
    li HTML &amp; SCSS
    li PHP
    
  hr

  h2 Represent.Us
    a(href='https://represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[em Description:] #[a(href='https://represent.us/', target='_blank') Represent.Us] is a campaign working to end currently legal corruption that is ravaging the political system. The sites serves as both an informational hub for the campaign &amp; movement at large, as well as an online action-taking platform for our supporters and activists. The site is powered by #[a(href='https://wordpress.org/', target='_blank') WordPress], and runs on a custom theme that facilitates and prioritizes sharing and further user engagement through mailing lists and other forms of outreach. The site integrates with #[a(href='http://actionkit.com/', target='_blank') ActionKit] via an in-house built WordPress plugin, ActionPress.
  p #[em My involvement:] I single-handedly developed the Represent.Us site (along with the ActionPress plugin) from its launch in late 2012 until mid 2014 when Represent.Us hired a second developer to assist on our assorted online properties and projects, including the Represent.Us website. Now, I maintain and upgrade the site on a day-to-day basis with various improvments and features.
  p #[em Skills used:]
  ul
    li PHP &mdash; WordPress
    li JavaScript &mdash; CoffeeScript
    li ActionKit
    li HTML &amp; SCSS
    
  hr

  h3 Creepster.TV
    a(href='http://www.creepster.tv/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[em Description:] #[a(href='http://www.creepster.tv/') Creepster.TV] is a first of its kind online video streaming platform. The site uses a PHP backend that interfaces with a streaming video API to display content and save users' favorites.
  p #[em My involvement:] I created the front-end site to view videos served up by the already existing video streaming API. I also built an app for the #[a(href='https://www.roku.com/', target='_blank') Roku] and #[a(href='http://www.boxee.tv/', target='_blank') Boxee] platforms that played the same content and displayed the users' save list on their television via respective set-top boxes. 
  p #[em Skills used:]
  ul
    li PHP
    li JavaScript &mdash; jQuery
    li HTML &amp; CSS
    
  hr
  
  h3 Start.Represent.Us
    a(href='https://start.represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p
    small
      em Note: the fonts are not loading correctly because we cancelled the liscence for the font in use on the site.
  p #[em Description:] Start.Represent.Us is an informational site designed to educate about how money in politics effects citizens private lives every day. The site was designed to facilitate sharing through email and uses CloudSponge to that end. The site is built on AngularJS and incorporates a URL structure that allows for easy A/B testing across the 4 different narratives that the site serves up. The site was based on the #[a(href='https://www.charitywater.org/waterforward-project/', target='_blank') Water Forward] campaign site run by Charity: Water.
  p #[em My involvement:] I coded the client-side app that powers the site, and integrated into the app the 3rd party CloudSponge API that allows for contact list scraping.
  p #[em Skills used:]
  ul
    li JavaScript &mdash; AngularJS
    li HTML &amp; SCSS
    
  hr
  
  h1 In Brief
  ul.brief
    li #[strong NationBuilder-ActionKit sync app] &mdash; a small application that runs every hour to transfer users from a NationBuilder database (volunteers at an org) into an ActionKit database (general contact database at the same org). I wrote the app in Node.js.
    li #[strong blueverse] &mdash; a PHP-powered social network aimed at providing a secure, comfortable online space for people living with disabilities and their friends. I helped establish the foundation of the site using PHP and MySQL.
    li #[strong Republic Report] &mdash; a political accountability and muck-raking blog started to expose corruption in Washington, D.C. and across the nation. I created the HTML, CSS, and bespoke WordPress theme that powers the site.
    li #[strong UnlimitedCorruption] &mdash; a microsite that was created to highlight the unbridled corruption introduced by the McCutcheon v. FEC Supreme Court decision. I prototyped and built up the site rapidly using Twitter Bootstrap and JavaScript.
  