extends ../partials/_layout

block content
  h1 Projects
  p Below are projects that I have worked on [REWORD]
  
  h2 The Bulletin
    a(href='http://bulletin.represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[strong Description:] #[a(href='http://bulletin.represent.us/', target='_blank') The Bulletin] is a news blog run by #[a(href='https://represent.us/') Represent.Us]. The site is a single page application powered by #[a(href='https://angularjs.org/', target='_blank') AngularJS] and #[a(href='https://wordpress.org/', target='_blank') WordPress], in conjunction with a #[a(href='https://wordpress.org/plugins/json-api/', target='_blank') JSON API plugin]. Initial page data (in the form of inline JSON) is rendered by the server, and loads subsequent data via AJAX requests from the bootstrapped JavaScript application. This combination gives fast page load times while not sacrificing the responsiveness of a client-side app. The sites architecture was inspired by #[a(href='http://qz.com/', target='_blank') qz.com] and #[a(href='https://blog.twitter.com/2012/improving-performance-on-twittercom', target='_blank') Twitter&rsquo;s 2012 optimizations].
  p #[strong My involvement:] I completely built both the bootstrapped AngularJS app, as well as the underlying WordPress theme.
  p #[strong Skills used:]
  ul
    li JavaScript &mdash; AngularJS
    li HTML &amp; SCSS
    li PHP

  h2 Represent.Us
    a(href='https://represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[strong Description:] #[a(href='https://represent.us/', target='_blank') Represent.Us] is a campaign working to end currently legal corruption that is ravaging the political system. The sites serves as both an informational hub for the campaign &amp; movement at large, as well as an online action-taking platform for our supporters and activists. The site is powered by #[a(href='https://wordpress.org/', target='_blank') WordPress], and runs on a custom theme that facilitates and prioritizes sharing and further user engagement through mailing lists and other forms of outreach. The site integrates with #[a(href='http://actionkit.com/', target='_blank') ActionKit] via an in-house built WordPress plugin, ActionPress.
  p #[strong My involvement:] I single-handedly developed the Represent.Us site (along with the ActionPress plugin) from its launch in late 2012 until mid 2014 when Represent.Us hired a second developer to assist on our assorted online properties and projects, including the Represent.Us website. Now, I maintain and upgrade the site on a day-to-day basis with various improvments and features.
  p #[strong Skills used:]
  ul
    li PHP &mdash; WordPress
    li JavaScript &mdash; CoffeeScript
    li ActionKit
    li HTML &amp; SCSS

  h4 Creepster.TV
    a(href='http://www.creepster.tv/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p #[strong Description:] #[a(href='http://www.creepster.tv/') Creepster.TV] is a first of its kind online video streaming platform. The site uses a PHP backend that interfaces with a streaming video API to display content and save users' favorites.
  p #[strong My involvement:] I created the front-end site to view videos served up by the already existing video streaming API. I also built an app for the #[a(href='https://www.roku.com/', target='_blank') Roku] and #[a(href='http://www.boxee.tv/', target='_blank') Boxee] platforms that played the same content and displayed the users' save list on their television via respective set-top boxes. 
  p #[strong Skills used:]
  ul
    li PHP
    li JavaScript &mdash; jQuery
    li HTML &amp; CSS
  
  h4 Start.Represent.Us
    a(href='https://start.represent.us/', target='_blank')
      img(src='images/newtab.png', class='icon')
  p
    small
      em Note: the fonts are not loading correctly because we cancelled the liscence for the font in use on the site.
  p Start.Represent.Us is an informational site designed to educate about 
  