extends ../partials/_layout

block content
  h1 Projects
  p I create compelling and robust web applications and websites using modern, pragmatic practices. I have over 5 years of professional experience in web development.
  p I currently work at #[a(href='https://represent.us/') Represent.Us], a leading non-profit in the anti-corruption movement.