body {
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-size: 1em; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  color: #fff; }
  @media only screen and (max-width: 480px) {
    body {
      background-size: auto 100%; } }
