h1{
  font-weight: normal; }

h1 {
  margin: 0;
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  letter-spacing: 1px; }

body {
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-size: 1em; }

nav {
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-size: 1rem; }

a {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  color: #fff;
  text-decoration: underline; }

p, li {
  line-height: 1.5rem; }

.fade-in {
  
          
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  color: #fff; }

.clear {
  clear: both; }

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 1rem;
  right: 1rem; }
  .social li {
    display: inline-block;
    margin: 0.25rem; }
  .social a img {
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
            transition: transform 0.1s ease-in-out; }

main {
  margin: 0 auto 10em auto;
  position: relative;
  top: 25%; }

.content {
  width: 50%;
  float: left;
  padding: 0 0 0 3rem; }

ul {
  list-style-position: outside; }

nav {
  width: 33%;
  float: left;
  text-align: right;
  padding: 0 1rem 0 0;
  border-right: 2px solid #fff; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    float: right; }
  nav li {
    margin-bottom: 0.5rem; }
  nav a {
    font-size: 1.25rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
    display: block;
    padding: 0.5rem 1rem; }
    nav a.active{
      background-color: rgba(255, 255, 255, 0.5);
      color: #333; }

.headshot {
  border-radius: 50% 50%;
  max-width: 100px;
  float: right; }
