h1{
  font-weight: normal;
  margin: 1.5em 0 0.5em 0; }

h1 {
  margin: 0;
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  letter-spacing: 1px; }

body {
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-size: 1em; }

nav {
  font-family: 'Avenir Next', 'Century Gothic', sans-serif;
  font-size: 1rem; }

a {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  color: #fff;
  text-decoration: underline; }

p, li {
  line-height: 1.5rem; }

.fade-in {
  
          
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  color: #fff; }
  @media only screen and (max-width: 480px) {
    body {
      background-size: auto 100%; } }

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 1rem;
  right: 1rem; }
  @media only screen and (max-width: 480px) {
    .social {
      position: static;
      margin: 0 auto;
      text-align: center; } }
  .social li {
    display: inline-block;
    margin: 0.25rem; }
  .social a img {
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
            transition: transform 0.1s ease-in-out; }

main {
  margin: 0 auto 10em auto;
  position: relative;
  top: 25%; }
  @media only screen and (max-width: 480px) {
    main {
      position: static;
      width: 100%;
      margin: 0 auto;
      padding: 0 1em; } }

.content {
  width: 50%;
  float: left;
  padding: 0 0 0 3rem; }
  @media only screen and (max-width: 960px) {
    .content {
      width: 60%; } }
  @media only screen and (max-width: 480px) {
    .content {
      padding: 0 0 3em 0;
      float: none;
      width: 100%; } }

ul {
  list-style-position: outside; }

nav {
  width: 33%;
  float: left;
  text-align: right;
  padding: 0 1rem 0 0;
  border-right: 2px solid #fff; }
  @media only screen and (max-width: 960px) {
    nav {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    nav {
      width: 100%;
      margin: 0 auto 3em auto;
      float: none;
      display: block;
      padding: 0;
      border: 0; } }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    float: right; }
    @media only screen and (max-width: 960px) {
      nav ul {
        width: 90%; } }
    @media only screen and (max-width: 480px) {
      nav ul {
        width: 100%;
        float: none; } }
  nav li {
    margin-bottom: 0.5rem; }
    nav li:last-child {
      margin-bottom: 0; }
  nav a {
    font-size: 1.25rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
    display: block;
    padding: 0.5rem 1rem; }
    nav a.active{
      background-color: rgba(255, 255, 255, 0.5);
      color: #333; }

.headshot {
  border-radius: 50% 50%;
  max-width: 100px;
  float: right; }
  @media only screen and (max-width: 480px) {
    .headshot {
      display: block;
      margin: 1em auto;
      float: none; } }
